In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./log_inform_summary.csv")
df.head()

,msg_field,feature,rows,cols,missing,min,max,mean,var,non_zero_rate,unique_count
0,AHR2,Roll,125971,11,False,-4.61000,3.070000,0.246620,9.323946e-01,0.995213,627
1,AHR2,Pitch,125971,11,False,-4.44000,6.960000,0.390088,6.132344e-01,0.990045,776
2,AHR2,Yaw,125971,11,False,71.43000,255.060000,117.313446,4.220584e+03,1.000000,4025
3,AHR2,Alt,125971,11,False,47.48000,80.299995,65.645018,6.839459e+01,1.000000,2962
4,AHR2,Lat,125971,11,False,35.92819,35.928328,35.928282,8.570000e-10,1.000000,1040

In [13]:
df["msg_field"].unique()

array(['AHR2', 'ATT', 'BARO', 'BAT', 'CANS', 'CTRL', 'CTUN', 'DCM', 'DSF',
       'DU32', 'FTN1', 'FTN2', 'GPA', 'GPS', 'HEAT', 'IMU', 'IOMC', 'MAG',
       'MAVC', 'MAV', 'MCU', 'MOTB', 'PM', 'POS', 'POWR', 'PSCD', 'PSCE',
       'PSCN', 'RATE', 'RCIN', 'RCOU', 'SRTL', 'TERR', 'TSYN', 'VIBE',
       'XKF1', 'XKF2', 'XKF3', 'XKF4', 'XKF5', 'XKQ', 'XKT', 'XKV1',
       'XKV2', 'XKY0', 'XKY1'], dtype=object)

In [53]:
import os
import glob
import pandas as pd

# ✅ CSV 파일들이 저장된 경로
data_dir = "../data/results"  # 여기에 본인의 경로 입력
csv_paths = sorted(glob.glob(os.path.join(data_dir, "*.csv")))

print(f"총 {len(csv_paths)}개의 파일을 확인합니다.\n")

for path in csv_paths:
    try:
        df = pd.read_csv(path)
        df = df.drop('label', axis=1)
        filename = os.path.basename(path)
        total_rows = len(df)
        duplicate_rows = df.duplicated().sum()

        if duplicate_rows > 0:
            print(f"⚠️  {filename}: 중복 {duplicate_rows}개 발견 (총 {total_rows}행 중)")
        else:
            print(f"✅ {filename}: 중복 없음")

    except Exception as e:
        print(f"❌ {os.path.basename(path)}: 오류 발생 - {e}")

총 46개의 파일을 확인합니다.

✅ AHR2_merged.csv: 중복 없음
✅ ATT_merged.csv: 중복 없음
✅ BARO_merged.csv: 중복 없음
✅ BAT_merged.csv: 중복 없음
✅ CANS_merged.csv: 중복 없음
✅ CTRL_merged.csv: 중복 없음
✅ CTUN_merged.csv: 중복 없음
✅ DCM_merged.csv: 중복 없음
✅ DSF_merged.csv: 중복 없음
✅ DU32_merged.csv: 중복 없음
✅ FTN1_merged.csv: 중복 없음
✅ FTN2_merged.csv: 중복 없음
✅ GPA_merged.csv: 중복 없음
✅ GPS_merged.csv: 중복 없음
✅ HEAT_merged.csv: 중복 없음
✅ IMU_merged.csv: 중복 없음
✅ IOMC_merged.csv: 중복 없음
✅ MAG_merged.csv: 중복 없음
✅ MAVC_merged.csv: 중복 없음
✅ MAV_merged.csv: 중복 없음
✅ MCU_merged.csv: 중복 없음
✅ MOTB_merged.csv: 중복 없음
✅ PM_merged.csv: 중복 없음
✅ POS_merged.csv: 중복 없음
✅ POWR_merged.csv: 중복 없음
✅ PSCD_merged.csv: 중복 없음
✅ PSCE_merged.csv: 중복 없음
✅ PSCN_merged.csv: 중복 없음
✅ RATE_merged.csv: 중복 없음
✅ RCIN_merged.csv: 중복 없음
✅ RCOU_merged.csv: 중복 없음
✅ SRTL_merged.csv: 중복 없음
✅ TERR_merged.csv: 중복 없음
✅ TSYN_merged.csv: 중복 없음
✅ VIBE_merged.csv: 중복 없음
✅ XKF1_merged.csv: 중복 없음
✅ XKF2_merged.csv: 중복 없음
✅ XKF3_merged.csv: 중복 없음
✅ XKF4_merged.csv: 중복 없음
✅ XKF5_merged.csv: 중복 없음
✅ XKQ_merged.csv: 중복 없음
✅ XKT_merged.csv: 중복 없음
✅ XKV1_merged.csv: 중복 없음
✅ XKV2_merged.csv: 중복 없음
✅ XKY0_merged.csv: 중복 없음
✅ XKY1_merged.csv: 중복 없음

In [5]:
tab_df = pd.read_csv("./tabnet_results_re/val_metrics.csv")
ml_df = pd.read_csv("./shap_results_250512_3model/all_fields_model_comparison.csv")

In [6]:
tab_df.head()

  msg_name  accuracy  precision  recall      f1  roc_auc  best_epoch
0     AHR2    1.0000     1.0000  1.0000  1.0000   1.0000          13
1      ATT    0.9765     0.9798  0.9736  0.9767   0.9975          35
2     BARO    1.0000     1.0000  1.0000  1.0000   1.0000          23
3      BAT    1.0000     1.0000  1.0000  1.0000   1.0000          11
4     CANS    0.5213     0.5319  0.4342  0.4781   0.5355          12

In [7]:
ml_df.head()

,field,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
0,AHR2,Random Forest Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.699
1,AHR2,Gradient Boosting Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.996
2,AHR2,Decision Tree Classifier,0.9999,0.9999,0.9999,0.9999,0.9999,0.9998,0.9998,0.228
3,ATT,Decision Tree Classifier,0.9977,0.9977,0.9980,0.9974,0.9977,0.9954,0.9954,0.037
4,ATT,Random Forest Classifier,0.9987,1.0000,0.9978,0.9996,0.9987,0.9973,0.9973,0.491

In [8]:
tab_df["model"] = "TabNet"
n_tab_df = tab_df[["msg_name", "model", "recall", "precision", "f1", "accuracy", "roc_auc"]]

In [9]:
# TabNet에 Model 이름 추가
tab_df['model'] = 'TabNet'

tab_df = tab_df.rename(columns={
    'msg_name': 'msg_name',
    'accuracy': 'accuracy',
    'precision': 'precision',
    'recall': 'recall',
    'f1': 'f1',
    'roc_auc': 'roc_auc'
})

tab_df = tab_df[['msg_name', 'model', 'accuracy', 'precision', 'recall', 'f1', 'roc_auc']]

# ml_df 컬럼 정리
ml_df = ml_df.rename(columns={
    'field': 'msg_name',
    'Model': 'model',
    'Accuracy': 'accuracy',
    'Prec.': 'precision',
    'Recall': 'recall',
    'F1': 'f1',
    'AUC': 'roc_auc'
})
ml_df = ml_df[['msg_name', 'model', 'accuracy', 'precision', 'recall', 'f1', 'roc_auc']]

print("tab_df.columns:", tab_df.columns.tolist())
print("ml_df.columns:", ml_df.columns.tolist())


# 두 DataFrame 이어붙이기
final_df = pd.concat([tab_df, ml_df], ignore_index=True)

# msg_name, model 기준으로 정렬
final_df = final_df.sort_values(by=["msg_name", "model"]).reset_index(drop=True)

# 저장
final_df.to_csv("all_model_performance.csv", index=False)
print("저장 완료")

tab_df.columns: ['msg_name', 'model', 'accuracy', 'precision', 'recall', 'f1', 'roc_auc']
ml_df.columns: ['msg_name', 'model', 'accuracy', 'precision', 'recall', 'f1', 'roc_auc']
저장 완료

In [14]:
from data_analyzer import *

paths = sorted(glob.glob("../data/results/*.csv"))

for path in paths:
    analyzer = DataAnalyzer(label_col='label')
    analyzer.load(path)
    analyzer.save_correlation_plot()

Saved correlation heatmap: analyze/corr_graph/AHR2_corr.png
Saved correlation heatmap: analyze/corr_graph/ATT_corr.png
Saved correlation heatmap: analyze/corr_graph/BARO_corr.png
Saved correlation heatmap: analyze/corr_graph/BAT_corr.png
Saved correlation heatmap: analyze/corr_graph/CANS_corr.png
Saved correlation heatmap: analyze/corr_graph/CTRL_corr.png
Saved correlation heatmap: analyze/corr_graph/CTUN_corr.png
Saved correlation heatmap: analyze/corr_graph/DCM_corr.png
Saved correlation heatmap: analyze/corr_graph/DSF_corr.png
Saved correlation heatmap: analyze/corr_graph/DU32_corr.png
Saved correlation heatmap: analyze/corr_graph/FTN1_corr.png
Saved correlation heatmap: analyze/corr_graph/FTN2_corr.png
Saved correlation heatmap: analyze/corr_graph/GPA_corr.png
Saved correlation heatmap: analyze/corr_graph/GPS_corr.png
Saved correlation heatmap: analyze/corr_graph/HEAT_corr.png
Saved correlation heatmap: analyze/corr_graph/IMU_corr.png
Saved correlation heatmap: analyze/corr_graph/IOMC_corr.png
Saved correlation heatmap: analyze/corr_graph/MAG_corr.png
Saved correlation heatmap: analyze/corr_graph/MAVC_corr.png
Saved correlation heatmap: analyze/corr_graph/MAV_corr.png
Saved correlation heatmap: analyze/corr_graph/MCU_corr.png
Saved correlation heatmap: analyze/corr_graph/MOTB_corr.png
Saved correlation heatmap: analyze/corr_graph/PM_corr.png
Saved correlation heatmap: analyze/corr_graph/POS_corr.png
Saved correlation heatmap: analyze/corr_graph/POWR_corr.png
Saved correlation heatmap: analyze/corr_graph/PSCD_corr.png
Saved correlation heatmap: analyze/corr_graph/PSCE_corr.png
Saved correlation heatmap: analyze/corr_graph/PSCN_corr.png
Saved correlation heatmap: analyze/corr_graph/RATE_corr.png
Saved correlation heatmap: analyze/corr_graph/RCIN_corr.png
Saved correlation heatmap: analyze/corr_graph/RCOU_corr.png
Saved correlation heatmap: analyze/corr_graph/SRTL_corr.png
Saved correlation heatmap: analyze/corr_graph/TERR_corr.png
Saved correlation heatmap: analyze/corr_graph/TSYN_corr.png
Saved correlation heatmap: analyze/corr_graph/VIBE_corr.png
Saved correlation heatmap: analyze/corr_graph/XKF1_corr.png
Saved correlation heatmap: analyze/corr_graph/XKF2_corr.png
Saved correlation heatmap: analyze/corr_graph/XKF3_corr.png
Saved correlation heatmap: analyze/corr_graph/XKF4_corr.png
Saved correlation heatmap: analyze/corr_graph/XKF5_corr.png
Saved correlation heatmap: analyze/corr_graph/XKQ_corr.png
Saved correlation heatmap: analyze/corr_graph/XKT_corr.png
Saved correlation heatmap: analyze/corr_graph/XKV1_corr.png
Saved correlation heatmap: analyze/corr_graph/XKV2_corr.png
Saved correlation heatmap: analyze/corr_graph/XKY0_corr.png
Saved correlation heatmap: analyze/corr_graph/XKY1_corr.png